.jtabs-content{
    font-size: 11pt;
}
.jtabs-content thead td {
    white-space: normal !important;
    word-break: break-word;
    height: auto !important;
    line-height: 1.2em;
    padding: 4px;
    vertical-align: middle;
    font-size: 10pt;
}
