.container-page{
    background-color: #efefefc2;
    min-height: 100vh;
}
.list-item-class-and-student .v-icon{
    opacity: 1;
}
.v-card-title{
    height:54px
}

.my-table table {
  width: 100%;
  border-collapse: collapse !important; /* Gộp border thật */
}

.my-table table th,
.my-table table td {
  border: 1px solid #ccc !important;
  line-height: 1.2;
   padding: 4px 8px !important;
}
.my-table table th{
    height: 48px !important;
}
.my-table table td{
    height: 42px !important;
}
.my-table table th {
  background-color: #80808052 !important;
  text-align: center;
  font-size: 15px;
}

.subtitle-cell{
        color: #808080d6;
    font-weight: 400;
    font-size: 14px;
}

.fs-14{
    font-size: 14px !important;
}