 .v-tabs-window {
     width: 100%;
 }

 /* .no-header thead,
 .no-header thead tr,
 .no-header thead th {
     height: 0 !important;
     padding: 0 !important;
     margin: 0 !important;
     line-height: 0 !important;
     border: none !important;
     font-size: 0 !important;
     overflow: hidden !important;
 } */

 .table-bordered table {
     border-collapse: collapse;
     font-size: 12px;
 }

 .table-bordered td,
 .table-bordered th {
     border: 1px solid #ccc !important;
 }

 .table-bordered tbody tr:last-child {
     font-weight: bold;
 }