.jigsaw1,
.jigsaw2 {
    width: 6em;
    height: fit-content;
    min-height: 100px;
    position: relative;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    cursor: pointer;
}

.columnB-group {
    width: fit-content;
    height: fit-content;
    min-height: 100px;
    position: relative;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    cursor: pointer;
}

.jigsaw2 {
    z-index: 50;
}

.jigsaw1,
.jigsaw1 span {
    background-color: #0284cf;
}

.jigsaw2,
.jigsaw2 span {
    background-color: #00008B;
}

.text {
    display: block;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    position: relative;
    background: transparent !important;
}

.jigsaw1 .t,
.jigsaw2 .t {
    width: 2em;
    height: 2em;
    position: absolute;
    top: -1.5em;
    left: 2em;
    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
}

.jigsaw1 .r,
.jigsaw2 .r {
    width: 2em;
    height: 2em;
    position: absolute;
    top: 2em;
    left: 5.5em;
    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
}

.jigsaw1 .b,
.jigsaw2 .b {
    width: 1.8em;
    height: 1.8em;
    position: absolute;
    top: 4.5em;
    left: 2.2em;
    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
    background-color: #fff;
}

.jigsaw1 .l,
.jigsaw2 .l {
    width: 1.8em;
    height: 1.8em;
    position: absolute;
    top: 2.2em;
    left: -.4em;
    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
    background-color: #fff;
}

.drop-zones {
    width: fit-content;
    min-width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
}

.drop-zone {
    height: fit-content;
    border: 2px dashed #ccc;
    border-radius: 8px;
    pointer-events: all;
    transition: all 0.3s;
    margin-bottom: 20px;
    position: relative;
}

.drop-zone-columnB {
    height: fit-content;
    border: 2px dashed #ccc;
    width: fit-content;
    border-radius: 8px;
    pointer-events: all;
    transition: all 0.3s;
    margin-bottom: 20px;
    position: relative;
}

.drop-zone.filled {
    border-style: solid;
    background: #fff;
}

.drop-zone.correct {
    border-color: #4caf50;
    background: #e8f5e9;
}