.v-table>.v-table__wrapper>table>tbody>tr>td,
.v-table>.v-table__wrapper>table>tbody>tr>th,
.v-table>.v-table__wrapper>table>tfoot>tr>td,
.v-table>.v-table__wrapper>table>tfoot>tr>th,
.v-table>.v-table__wrapper>table>thead>tr>td,
.v-table>.v-table__wrapper>table>thead>tr>th {
    padding: 0 8px !important;
}
.custom-height-uc-quill-editor {
    height: 110px !important;
    min-height: 110px !important;
    max-height: 110px !important;
    overflow-y: auto !important;
}

.compact-comment {
    white-space: normal;
    line-height: 1.35;
    font-size: 13px;
}